@import "../../ColorScheme"
@import "../../config"

.Background
  overflow: hidden
  position: static
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  background-size: cover
  background-image: url("./Images/IMG_2998.JPG")
  background-repeat: no-repeat
  //@include set-background(white)
  transition: 0.5s

.BackgroundOverlay
  overflow: hidden
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  background-color: rgba(0,0,0,0.7)